{% extends "crud/edit.html.twig" %}
{% block formContent %}
    <div class="form-group required">
        <label for="nome" class="control-label">{% trans %}Nome{% endtrans %}</label>
        <input id="nome" type="text" name="nome" class="form-control" value="{{ model.nome }}" maxlength="50" />
    </div>
    <div class="form-group required">
        <label for="descricao" class="control-label">{% trans %}Descrição{% endtrans %}</label>
        <textarea id="descricao" name="descricao" class="form-control" rows="5" maxlength="100">{{ model.descricao }}</textarea>
    </div>
    <div class="form-group required">
        <label for="status" class="control-label">{% trans %}Status{% endtrans %}</label>
        <select id="status" name="status" class="form-control">
            <option value="">{% trans %}Selecione{% endtrans %}</option>
            <option value="1" {% if model.status == 1 %}selected="selected"{% endif %}>{% trans %}Ativo{% endtrans %}</option>
            <option value="0" {% if model.status == "0" %}selected="selected"{% endif %}>{% trans %}Inativo{% endtrans %}</option>
        </select>
    </div>    
{% endblock %}